* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body {
    display: flex;
    background-color: #F3DCFE;
    margin: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    }
header {
background-color: #AC65A5;
display: flex;
}
.name {
    width: 80%;
}
h1{
    text-align: center;
}
h2 {
    text-align: center;
}
.imagen {
    display: flex;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.Logo {
    width: 140px;
    height: 140px;
    border-radius: 80%;
    opacity: 65%;
}
main {
    display: flex;
    height: 90%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
footer {
    height: 10%;
}
p {
    text-align: center;
}
.container {
    display: flex;
    height: 400px;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.incode {
    display: flex;
    background-color: #FFFFFF;
    width: 40%;
    height: 200px;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    flex-direction: column;
}
.incode :hover {
    background-color: #EFBFF3;
}
.todecode {
    display: flex;
    background-color: #FFFFFF;
    width: 40%;
    height: 200px;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    flex-direction: column;
}
.todecode :hover {
    background-color: #EFBFF3;
}
.ButtonToCreate {
    background-color: #D9D9D9;
    width: 250px;
    height: 50px;
    border-radius: 50%;
    
}
.ButtontoCreate {
    background-color: #D9D9D9;
    width: 250px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
}
.ButtonToDecode {
    background-color: #D9D9D9;
    width: 250px;
    height: 50px;
    border-radius: 50%;
}
#incode2 {
    display: flex;
    background-color: #F3DCFE;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%
}
#mensage {
    width: 100%;
    height: 100%;
}

#messagetocode {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 150px
}
.part2 {
    display: flex;
    border: ridge;
    width: 500px;
    height: 70px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
#despl {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#movement {
    background-color: #FFFFFF;
    width: 50px;
    height: 30px;


}
 #Tocreate {
    background-color: #FFFFFF;

 }




















































































































































