* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body {
    display: flex;
    background-color: #F3DCFE;
    margin: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    }
header {
background-color: #AC65A5;
display: flex;
border: dotted 6px #522b4e;
}
.name {
    width: 80%;
}
h1{
    text-align: center;
    font-size: 45px;
}
h2 {
    text-align: center;
    font-size: 28px;
}
.imagen {
    display: flex;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.Logo {
    width: 140px;
    height: 140px;
    border-radius: 80%;
    opacity: 65%;
}
main {
    display: flex;
    height: 90%;
    width: 80%;
    padding-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
footer {
    height: 10%;
}
p {
    text-align: center;
    font-size: 25px;
}
.container {
    display: flex;
    width: 100%;
    height: 400px;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.incode {
    display: flex;
    background-color: #FFFFFF;
    width: 45%;
    height: 200px;
    border: dotted #522b4e;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    flex-direction: column;
}

.todecode {
    display: flex;
    background-color: #FFFFFF;
    width: 45%;
    height: 200px;
    border: dotted #522b4e;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    flex-direction: column;
}

.ButtontoCreate {
    background-color: #D9D9D9;
    width: 250px;
    height: 50px;
    border-radius: 50%;

}

.ButtontoCreate:hover {
    background-color: #AC65A5;
}
.ButtonToDecode {
    background-color: #D9D9D9;
    width: 250px;
    height: 50px;
    border-radius: 50%;
}
#incode2 {
    display: flex;
    background-color: #F3DCFE;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%
}

#Formulario {
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-items: flex-start;
}
#InsertMessage {
    display: flex;
    justify-content: center;
    background-color: #F3DCFE;
    width: 100%;
    font-size: 25px;
}
#mensage {
    width: 100%;
    height: 100%;
}

#messagetocode {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 150px
}
.part2 {
    display: flex;
    width: 500px;
    height: 70px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}
#labelmovement {
    background-color: rgb(255, 255, 255);
    padding: 14px;
    border: solid 1px;
    margin: 5px;
}
#movement {
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
    margin: 15px;
    font-size: 20px
}
 #Tocreate {
    background-color: #FFFFFF;
    height: 54.5px;
    font-size: 15px;
 }

#Tocreate:hover{
    background-color: #AC65A5;
}
#Tocreate:active{
    background-color: #522b4e;
}
.CodedMessage{
    display: flex;
    margin: 15px;
    flex-direction: column;
    width: 100%;
}
#textarea{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 150px;
}
#todecode2{
    display: flex;
    background-color: #F3DCFE;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
#Formulario2 {
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-items: flex-start;
}
#Todecode{
    background-color: #FFFFFF;
    height: 54.5px;
    font-size: 15px;
}
#Todecode:hover{
    background-color: #AC65A5;
}
#Todecode:active{
    background-color: #522b4e;
}
.DecodedMessage{
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-items: center;
}
#DecodedMessage{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 150px;
}
#Buttons{
    display: flex;
    background-color: #F3DCFE;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
.Index{
    background-color: #FFFFFF;
    height: 54.5px;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}
.Decode{
    background-color: #FFFFFF;
    height: 54.5px;
    font-size: 15px;
    color:#000000;
}
.Index:hover{
    background-color: #AC65A5;
}
.Index:active{
    background-color: #522b4e;
}
.Decode:hover{
    background-color: #AC65A5;
}
.Decode:active{
    background-color: #522b4e;
}
nav{
    display: flex;
}







































































































































